/* Fonts */

@font-face {
    font-family: IgraSans;
    src: url("../fonts/IgraSans.otf");
}


/* HTML */

html {
    font-family: IgraSans;
}


/* Layout */

.layout {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: auto 3rem 2fr auto;
    grid-gap: 1rem;
    grid-row-gap: 2rem;
}

.layout>div {
    /* background-color: rgb(240, 240, 240); */
    border-radius: 4px;
}

.header,
.navigation,
.hero,
.chemicals,
.fertilizers,
.about-the-company,
.contact {
    grid-column: 2 / 5;
}


/* Header */

.header {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(14rem, 1fr));
    /* grid-template-columns: 2fr 1fr; */
}

.header>.logo {
    display: inline-block;
    min-height: 7rem;
    background-color: darkgoldenrod;
    background: url("../images/Logo.svg");
    background-repeat: no-repeat;
    background-position: left center;
    background-size: contain;
}

.header>.contact-info {
    display: table-cell;
    vertical-align: middle;
    text-align: right;
}


/* Navigation */

.navigation {
    display: grid;
    justify-content: left;
    align-content: center;
    /* grid-column: 1 / 2; */
}

.navigation>ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navigation>ul>li {
    display: inline;
}

.sticky {
    position: fixed;
    top: 0;
}


/* Hero */

.hero {
    background: url("../images/undraw_Together_re_a8x4.svg");
    background-position: left;
    background-size: 30% 80%;
    background-repeat: no-repeat;
    padding: 4em 2vw;
    text-align: right;
}


/* Catalogs */

.catalog-chemicals,
.catalog-fertilizers {
    display: grid;
    /* grid-template-columns: repeat(auto-fit, minmax(14rem, 16rem)); */
    grid-template-columns: repeat(auto-fit, minmax(14rem, 1fr));
    grid-gap: 2rem;
    grid-template-rows: subgrid;
    justify-content: center;
    align-content: center;
}


/* Cards */

.card {
    background: white;
    border-radius: 0.4rem;
    box-shadow: 0px 2px 2rem 1px rgb(133, 133, 133, 0.2);
    height: 100%;
}

.card>img {
    /* width: 100%; */
    max-height: 15rem;
    width: auto;
}

.card>.image {
    height: 10rem;
    background-size: cover;
    border-radius: 0.37509rem 0.37509rem 0rem 0rem;
}

.card>.container {
    padding: 0.5rem;
}

.feature-point {
    margin-top: 4rem;
    /* background-color: royalblue; */
    /* color: whitesmoke; */
    padding: 0.5rem;
    margin-left: 5em;
}

.feature-point:before {
    content: '';
    position: absolute;
    width: 4rem;
    height: 4rem;
    margin-top: 0rem;
    margin-left: -5rem;
    background-size: cover;
}

#feature-point1:before {
    background: url("../images/point-industry.png");
    background-size: cover;
}

#feature-point2:before {
    background: url("../images/point-timing.png");
    background-size: cover;
}

#feature-point3:before {
    background: url("../images/point-delivary.png");
    background-size: cover;
}

#feature-point1 {
    grid-column: 2 / 3;
}

#feature-point2 {
    grid-column: 3 / 4;
}

#feature-point3 {
    grid-column: 4 / 5;
}

.about-the-company {
    margin-top: 2rem;
}


/* Contact | map and contact information ____________________________________ */

.contact {
    margin-top: 0rem;
}

.contact>p {
    margin: 0rem;
    text-align: left;
    font-size: 0.9rem;
    color: rgb(83, 83, 83);
}

.contact.map {
    margin-top: 4rem;
}

.contact.address {
    grid-column: 2 / 3;
}

.contact.phone {
    grid-column: 3 / 4;
}

.contact.internet {
    grid-column: 4 / 5;
}

.footer {
    padding: 3rem;
    grid-column: 1/6;
}


/* Different screens layouting */

@media only screen and (max-width: 900px) {
    .layout {
        padding: 2rem;
    }
    .header,
    .navigation,
    .hero,
    .chemicals,
    .fertilizers,
    .about-the-company,
    .contact {
        grid-column: 1 / 6;
    }
    .feature-point {
        margin-top: 2rem;
    }
    #feature-point1 {
        grid-column: 1 / 6;
        margin-top: 4rem;
    }
    #feature-point2 {
        grid-column: 1 / 6;
    }
    #feature-point3 {
        grid-column: 1 / 6;
        margin-bottom: 4rem;
    }
    .contact.address {
        grid-column: 1 / 3;
    }
    .contact.phone {
        grid-column: 3 / 6;
    }
    .contact.internet {
        grid-column: 1 / 6;
    }
}